﻿@section scripts {
    @Scripts.Render("~/bundles/app")
} 

<!-- http://localhost:53054/Help-->





<div class="panel-heading">
    <h2 class="panel-title">Juegos Pendientes</h2>
</div>
<div >
    <table class="hoverable ">
        <thead>
            <tr >
                <th>Equipo</th>
                <th>Equipo</th>
                <th>Hora</th>
                <th>Fecha</th>

            </tr>
        </thead>

        <tbody data-bind="foreach: listaDeJuegosPendientes ">
            <tr>

                <td data-bind="text: EquipoA"></td>
                <td data-bind="text: EquipoB"></td>
                <td data-bind="text: hora"></td>
                <td data-bind="text: fecha"></td>



            </tr>
        </tbody>
    </table>
 <br>
<br>
<br>
<br>
    <div class="panel-heading">
        <h2 class="panel-title">Juegos Pasados</h2>
    </div>
    <table class="hoverable">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Equipo</th>
                <th>Goles A</th>
                <th>Equipo</th>
                <th>Goles A</th>
                <th>Fecha</th>

            </tr>
        </thead>

        <tbody data-bind="foreach: listaDeJuegosPasados ">
            <tr>
                <td data-bind="text: idJuego"></td>
                <td data-bind="text: EquipoA"></td>
                <td data-bind="text: golesA"></td>
                <td data-bind="text: EquipoB"></td>
                <td data-bind="text: golesB"></td>
                <td data-bind="text: fecha"></td>



            </tr>
        </tbody>
    </table>
</div>

<br>
<br>
<br>
<div class="panel-heading">
    <h2 class="panel-title">Posiciones</h2>
</div>
<table class="hoverable">
    <thead>
        <tr>
            <th>Puntos</th>
            <th>Equipo</th>
            <th>PJ</th>
            <th>PG</th>
            <th>PP</th>
            <th>PE</th>
            <th>G</th>
            <th>GEC</th>

        </tr>
    </thead>

    <tbody data-bind="foreach: listaDeEquiposPorPosicion ">
        <tr>
            <td data-bind="text: puntos"></td>
            <td data-bind="text: nombre"></td>
            <td data-bind="text: partidosJugadors"></td>
            <td data-bind="text: partidosGanados"></td>
            <td data-bind="text: partidosPerdidos"></td>
            <td data-bind="text: partidosEmpatados"></td>
            <td data-bind="text: golesAFavor"></td>
            <td data-bind="text: goleEnContra"></td>


        </tr>
    </tbody>
</table>
</div>

