﻿@{
    Layout = null;
}

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Campeonato Plus</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
    </div>
</nav>

